<h1>Edit Template</h1>



<form action='update' id='design_template_form'>

  <div class='container'>

    <div style='flex:1;'>
      <p>
        Name: <input type='text' id='template_name' value='<%= @design_template.name %>'></input>
      </p>

      <%= button_to "Delete", {:controller => :design_templates,
            :action => 'destroy', :id => @design_template.id }, :method => :delete, 'class' => 'btn' %>

      <a class='btn' href='http://localhost:3000/force_process?id=<%= @design_template.id %>'>Force Processing</a>

      <button class='btn' onclick='update_template( <%= @design_template.id %> ); return false;'>Update</button>

      <a class='btn' href='http://localhost:3000/design_templates/<%= @design_template.id %>'>Cancel</a>


    </div>

    <div id='panel_container' style='flex:1;' ></div>

  </div>

  <input name='panel_data' id='tags_data' style='display:none;'></input>


</form>




<script>

  // This function is called when the user clicks save.  Data from the form
  // is gathered and posted to the design_template controller.
  function update_template( templateId )
  {

    var extractedSettings = build();
    var oToSend = {};

    // We stuff our own data in there too
    var oGeneralSettings = {};
    oGeneralSettings[ 'template_name' ] = $('#template_name').val();

    oToSend['extracted_settings'] = extractedSettings;
    oToSend['general_settings'] = oGeneralSettings;

    var uri = "http://localhost:3000/design_templates/" + templateId + "/tag_settings/";

    $.ajax({
                url: uri,
                type: 'post',
                dataType: 'application/json',
                data: JSON.stringify( oToSend ),
                success: function (data) {
                },
                error: function(xhr, status, error) {
                }
            });

    window.location = 'http://localhost:3000'

  }


  function getTemplateHTML( templateId )
  {
    var o;
    var uri;


    // TODO, why is this here?
//    if( templateId == null )
//    {
//      o = $('#version_design_template_id');
//      templateId = o.val();
//    }

    uri = "http://localhost:3000/partials/tags/" + templateId

    $.get( uri, function(data, status)
      {
          $('#panel_container').html( data );
      } );
  }



  $(document).ready(function(){
    getTemplateHTML( <%= @design_template.id %> );
  });



</script>
