<h1>Edit Template</h1>


<%=
form_for @design_template do |form|
%>
  <p>
    <%= form.label :name %><br/>
    <%= form.text_field :name %><br/>
  </p>
  <p>
    <%= form.file_field :original_file %>
  </p>

  <%= form.submit "Save Changes" %>

<%
end
%>


<%= button_to "delete", {:controller => :design_templates,
      :action => 'destroy', :id => @design_template.id }, :method => :delete %>
