<%
Rails.logger.info 'edit.html.erb - is_trans_butt: ' + @design_template.is_trans_butt.to_s

if @design_template.is_trans_butt
  tb_checked = 'checked'
else
  tb_checked = ''
end
%>

<%=
form_for @design_template, html: { multipart: true, id: 'design_template_form' } do |form|
%>
  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Edit Template</h3>
        </div>
        <div class='panel-body'>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Name</span>
            <input type='text' class='form-control' name='design_template[name]' id='design_template_name' aria-describedby='basic-addon1' value='<%= @design_template.name %>'></input>
          </div>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Original File</span>
            <input type='text' disabled class='form-control'
              aria-describedby='basic-addon1' title='<%= @design_template.original_file.url %>'
              value='<%= @design_template.original_file.url %>'></input>
          </div>

          <div class='clearfix'>
            <label class='checkbox-label disabled' style='margin-left:30px;'>
              Contains Trans-Butt Text
              <input type='checkbox' data-label-id='label'
                name='design_template[is_trans_butt]' id='design_template_is_trans_butt'
                <%= tb_checked %> class='checkbox-input' value='true' disabled='disabled'>
              </input>
            </label>
          </div>
          <div class='spacer'></div>

<%        if !@design_template.managed_assets.empty? %>
            <h4>Descriptive Assets</h4>
            <ul class='list-group'>
<%            i = 0
              length = @design_template.managed_assets.length
              @design_template.managed_assets.each do |a|

%>
                <li class='list-group-item'>
                  <%= link_to a.name.to_s, [:edit, a] %>

                  <a onclick='remove_asset( <%= a.id %> );' style='float:right;'>
                    <span id='updated_arrow' class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                  </a>

                  <a onclick='move_asset_up( <%= a.id %> );' style='float:right;'>
                    <span id='up_arrow' class='glyphicon glyphicon-arrow-up' aria-hidden='true'></span>
                  </a>
                  <a onclick='move_asset_dow ( <%= a.id %> );' style='float:right;'>
                    <span id='down_arrow' class='glyphicon glyphicon-arrow-down' aria-hidden='true'></span>
                  </a>

                </li>
<%            end %>
            </ul>
            <div class='spacer'></div>
<%        end %>

          <a class='btn btn-default' onclick='$("#createAssetModal").modal();' >Create Asset</a>
          <a class='btn btn-default' onclick='$("#addAssetModal").modal();'>Add Assets</a>

        </div> <!-- /panel body -->

        <div class='panel panel-footer'>
          <a class='btn btn-default' href='<%= local_host %>/force_process?id=<%= @design_template.id %>'>Reprocess</a>
          <a class='btn btn-default' onclick='update_template( <%= @design_template.id %> ); return false;'>Update</a>
          <a class='btn btn-default' href='<%= local_host %>/design_templates/<%= @design_template.id %>'>Cancel</a>
          <a class='btn btn-default' href='/design_templates/<%= @design_template.id %>' data-confirm='Are you sure?' data-method='delete' rel='nofollow'>Delete</a>
        </div>

      </div> <!-- /panel -->
    </div> <!-- /col -->

    <div class='col-md-1'></div>
    <div class='col-md-5'>
      <div id='panel_container'></div>
    </div>
  </div> <!-- /row -->
<%
end %>

<script>

  function validate()
  {
    var dtName = $('#design_template_name').val();

    if( (dtName === null) || (dtName === '') )
    {
      alert( 'Please enter a name for this template.' );
      return false;
    }

    return validate_design_template_settings();
  }



  function move_asset_up( id )
  {
    uri = '/design_templates/<%= @design_template.id.to_s %>/move_asset_up';
    uri = uri + '?managed_asset_id=' + id;
    $.get( uri, function(data, status) {
      location.reload(); });
  }

  function move_asset_down( id )
  {
    uri = '/design_templates/<%= @design_template.id.to_s %>/move_asset_down';
    uri = uri + '?managed_asset_id=' + id;
    $.get( uri, function(data, status) {
      location.reload(); });
  }

  function remove_asset( id )
  {
    uri = '/design_templates/<%= @design_template.id.to_s %>/remove_managed_asset';
    uri = uri + '?managed_asset_id=' + id;
    $.get( uri, function(data, status) {
      location.reload(); });
  }


  // This function is called when the user clicks save.  Data from the form
  // is gathered and posted to the design_template controller.
  function update_template( templateId )
  {
    if( validate() )
    {
      clear_design_templates_cache();
      var form = $('#design_template_form');
      form.submit();
    }
  }

  function submit_created_asset_form()
  {
    clear_managed_assets_cache();
    var $form = $( '#managed_asset_form' );
    $form.submit();
  }

  function add_selected_asset()
  {
    var e = $('#asset_select');
    var asset_id = e.val();
    var uri = '/design_templates/<%= @design_template.id.to_s %>/add_managed_asset';
    uri = uri + '?managed_asset_id=' + asset_id;
    $.get( uri, function(data, status) {
      location.reload(); });
  }




  function make_dialog()
  {
    // This dialog lets the user set the media type for images in the database
    // without the media type set
    $('#createAssetModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var modal = $(this);
      yes_button = modal.find('#yes_btn');
      // clear any previously set handlers
      yes_button.off( 'click' );
      yes_button.on( 'click', {}, submit_created_asset_form );
    });

    $('#addAssetModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var modal = $(this);
      yes_button = modal.find('#yes_btn');
      // clear any previously set handlers
      yes_button.off( 'click' );
      yes_button.on( 'click', {}, add_selected_asset );
    });

  }



  // This function goes and gets the html, generated by the partials controller, that
  // is based on what was extracted from the original file
  function getTemplateHTML( templateId )
  {
    var o;
    var uri;

<%  if !@stats[ DESIGN_TEMPLATE_STATS_KEY_VALID ] %>
      $('#panel_container').html( '<b><%= @stats[ DESIGN_TEMPLATE_STATS_KEY_MESSAGE ] %></b>' );
      return;
<%  end %>

    uri = '<%= local_host %>' + '/partials/extracted_settings/' + templateId;
    $.get( uri, function(data, status) {
      $('#panel_container').html( data ); });
  }


  $(document).ready(function() {
    getTemplateHTML( <%= @design_template.id %> );
    make_dialog();
  } );


</script>



<div class='modal fade' id='createAssetModal' tabindex='-1' role='dialog'
  aria-labelledby='exampleModalLabel'>
  <div class='modal-dialog modal-sm' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        <h4 class='modal-title' id='exampleModalLabel'>What's Going On?</h4>
      </div>
<%=   form_for @managed_asset, html: { multipart: true, id: 'managed_asset_form' } do |form| %>
        <div style='margin:10px;'>
          <div class='spacer'></div>
          <textarea id='text_asset' name='managed_asset[description]'
            class='form-control' rows='3'></textarea>
          <div class='spacer'></div>
          <span class='btn btn-default fileinput-button' id='file_input_container'>
            <span>Upload an Image</span>
            <input class='btn btn-default' type='file' name='managed_asset[image]' >
            </input>
          </span>
          <input name='design_template_id' value='<%= @design_template.id.to_s %>'
            style='display:none;'>
          </input>
        </div>
<%    end %>
      <div class='modal-footer'>
        <button type='button' id='vid_btn' class='btn btn-default'
          data-dismiss='modal'>Cancel</button>
        <button type='button' id='yes_btn' class='btn btn-default'
          data-dismiss='modal'>Add</button>
      </div>
    </div>
  </div>
</div> <!-- / createAssetModal  -->




<div class='modal fade' id='addAssetModal' tabindex='-1' role='dialog'
  aria-labelledby='exampleModalLabel'>
  <div class='modal-dialog modal-sm' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        <h4 class='modal-title' id='exampleModalLabel'>Add an Asset</h4>
      </div>

        <div style='margin:10px;'>

          <select class='form-control' style='width:100%;' id='asset_select'>
            <option value='' disabled selected>Select an Asset</option>
<%            @managed_assets.each { |a| %>
                <option value='<%= a.id.to_s %>'><%= a.name %></option>
<%            } %>
          </select>

          <div class='spacer'></div>

        </div>

      <div class='modal-footer'>
        <button type='button' id='vid_btn' class='btn btn-default'
          data-dismiss='modal'>Cancel</button>
        <button type='button' id='yes_btn' class='btn btn-default'
          data-dismiss='modal'>Add</button>
      </div>

    </div>
  </div>
</div> <!-- / addAssetModal  -->
