

<div class='row'>

  <div class='col col-md-1'></div>
  <div class='col col-md-10'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th><a onclick='toggle_name();'>Template Name</a>
            <span id='name_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_created();'>Created</a>
            <span id='created_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_updated();'>Updated</a>
            <span id='updated_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_tags();'>Tags?</a>
            <span id='tags_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_images();'>Images?</a>
            <span id='images_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
        </tr>
      </thead>
      <tbody>
    <%
        i = 0
        @design_templates.each { |t| %>
          <tr>
            <td class='clickable' onclick='show_template( "<%= t[:id]%>" );' id='name<%= i.to_s %>'>
              <%= t[:name] %>
            </td>
            <td id='created<%= i.to_s %>'>
              <%= t[:created] %>
            </td>
            <td id='updated<%= i.to_s %>'>
              <%= t[:updated] %>
            </td>
            <td id='tags<%= i.to_s %>'>
              <%= t[:tags] %>
            </td>
            <td id='images<%= i.to_s %>'>
              <%= t[:images] %>
            </td>
          </tr>
    <%    i += 1
        } %>
      </tbody>
    </table>
  </div> <!-- / col -->

  <div class='col col-md-1'>
  </div>

</div> <!-- / row -->

<div style='display:none' id='<%= CACHE_KEY_DESIGN_TEMPLATES.to_s %>'><%= @design_templates.to_json %></div>


<script>

  var CACHE_NAME = '<%= CACHE_KEY_DESIGN_TEMPLATES.to_s %>';


  function show_template( id )
  {
    window.location = '/design_templates/' + id;
  }

  function get_cached_templates() {
    return get_cached_json( CACHE_NAME ); }

  function cache_templates( templates_array ) {
    cache_json( templates_array, CACHE_NAME ); }

  function cache_arrow( e ) {
    cache_arrow_by_name( e, CACHE_NAME ); }



  function toggle_name() {
    toggle_header_item( 'name_arrow', get_cached_templates, cache_templates, 'name' ); }

  function toggle_created() {
    toggle_header_item( 'created_arrow', get_cached_templates, cache_templates, 'created' ); }

  function toggle_updated() {
    toggle_header_item( 'updated_arrow', get_cached_templates, cache_templates, 'updated' ); }

  function toggle_tags() {
    toggle_header_item( 'tags_arrow', get_cached_templates, cache_templates, 'tags' ); }

  function toggle_images() {
    toggle_header_item( 'images_arrow', get_cached_templates, cache_templates, 'images' ); }




  function fill_container( )
  {
    update_arrows( CACHE_NAME );
    var templates = get_cached_templates();
    var o, s, el;
    var d;
    var container_index = 0;

    for( var i = 0; i < templates.length; i++ )
    {
      o = templates[i];

      s = '#name' + container_index.toString();
      el = $(s);
      el.text( o.name );
      el.attr( 'onclick', 'show_template("' + o.id + '")' );

      s = '#tags' + container_index.toString();
      el = $(s);
      el.text( o.tags );

      s = '#created' + container_index.toString();
      el = $(s);
      el.text( o.created );

      s = '#updated' + container_index.toString();
      el = $(s);
      el.text( o.updated );

      s = '#images' + container_index.toString();
      el = $(s);
      el.text( o.images );

      container_index++;
    }
  }


  $(document).ready( function() {
    fill_container();
  });

</script>
