<h1>New Template</h1>

<%=
form_for @design_template, html: { multipart: true } do |form|
%>
  <p>
    <%= form.label :name %><br/>
    <%= form.text_field :name %><br/>
  </p>

  <p>
    <%= form.file_field :original_file %>
  </p>
  
  <%= form.submit "Create Template" %>

<%
end
%>
