<h1><%= @design_template.name.to_s %> Template</h1>

<p>File: <%= image_tag @design_template.original_file.url %></p>
<p>Source Folder: <%= @folder %></p>
<p>Prompts: <%= @design_template.prompts %></p>


<h2>Versions</h3>
<ul>
<%
@versions.each do |v| %>
  <li> <%= link_to v.name, v %> </li>
<%
end %>
</ul>

<%= button_to "Edit Template", edit_design_template_path, :method => "get" %>
<%= button_to "Process", { controller: "design_templates", action: "force_process", id: @design_template } %>
<%= link_to "Back to Templates", :design_templates %>
<%= link_to "New Version", new_version_path( :template_id => @design_template.id ) %>
