<h1><%= @design_template.name.to_s %> Template</h1>

File: <%= image_tag @design_template.original_file.url %>

<h2>Versions</h3>
<ul>
<%
@versions.each do |v| %>
  <li> <%= link_to v.name, v %> </li>
<%
end %>
</ul>

<%= link_to "Edit Template", edit_design_template_path %>
<%= link_to "Back to Templates", design_templates_path %>
