<h1><%= @design_template.name.to_s %> Template</h1>



<div class='form-group'>
  <label for="template_name">Name</label>
  <input type='text' id='template_name' value='<%= @design_template.name %>'></input>
</div>


<p>File: <%= image_tag @design_template.original_file.url %></p>
<p>Source Folder: <%= @folder %></p>
<p>Prompts: <%= @design_template.prompts %></p>



<%
if (@versions.length > 0) then
%>
  <h3>Versions</h3>

  <ul>
<%
  @versions.each do |v| %>
    <li> <%= link_to v.name, v %> </li>
<%
  end
%>
  </ul>
<%
end
%>

<a class='btn btn-default' href='<%= edit_design_template_path %>'>Edit this Template</a>
