
  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'><%= @design_template.name.to_s %> Template</h3>
        </div>
        <div class='panel-body'>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Original File</span>
            <input type='text' disabled class='form-control'
              aria-describedby='basic-addon1' title='<%= @design_template.original_file.url %>'
              value='<%= @design_template.original_file.url %>'></input>
          </div>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon2'>Source Folder</span>
            <input type='text' disabled class='form-control'
              aria-describedby='basic-addon2' title='<%= @folder %>'
              value='<%= @folder %>'></input>
          </div>

<%        if @stats[ 'valid' ] %>
            <div class='input-group'>
              <div class='input-group-btn'>
                <a class='btn btn-default' href='<%= local_host %>/versions/quick_new?template_id=<%= @design_template.id %>'>
                  Quick Version</a><br>
              </div><!-- /btn-group -->
              <input disabled class='form-control' title='<%= @quick_new_partial_url %>'
                value='<%= @quick_new_partial_url %>'></input>
            </div><!-- /input-group -->
<%        end %>

          <div class='spacer'></div>
          <a class='btn btn-default' onclick='$("#listVersionsModal").modal();'>List Versions</a>
          <a class='btn btn-default' href='<%= edit_design_template_path %>'>Edit this Template</a>

        </div> <!-- /panel body -->

      </div> <!-- /panel -->
    </div> <!-- /col -->
  </div> <!-- /row -->


  <!--  List Versions Modal -->
  <div class='modal fade' id='listVersionsModal' tabindex='-1' role='dialog'
    aria-labelledby='exampleModalLabel'>
    <div class='modal-dialog modal-sm' style='overflow-y:initial;' role='document'>
      <div class='modal-content' style='height:250px; overflow-y:auto;'>
        <div class='modal-header' style='background:rgba(255, 255, 255, 0.8); border-radius:6px; position:fixed; top:0; left:0; right:0; z-index:100;'>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
          <h4 class='modal-title' id='exampleModalLabel'>Versions</h4>
        </div>
        <div style='margin-top:54px;'>
<%        if !@versions.empty? %>
            <ul class='list-group'>
<%            @versions.each do |v| %>
                <li class='list-group-item'> <%= link_to v.name, v %> </li>
<%              end %>
            </ul>
<%        end %>
        </div>
      </div>
    </div>
  </div> <!-- / listVersionsModal  -->
