<h1><%= @design_template.name.to_s %> Template</h1>


<label>Original File</label> <%= image_tag @design_template.original_file.url %><br>
<label>Source Folder</label> <%= @folder %><br>

<%
if (@versions.length > 0) then
%>
  <h3>Versions</h3>

  <ul>
<%
  @versions.each do |v| %>
    <li> <%= link_to v.name, v %> </li>
<%
  end
%>
  </ul>
<%
end
%>

<a class='btn btn-default' href='<%= edit_design_template_path %>'>Edit this Template</a>
