
<%=
form_for @managed_asset, html: { multipart: true, id: 'managed_asset_form' } do |form|
%>
  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Edit Asset</h3>
        </div>
        <div class='panel-body'>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Name</span>
            <input type='text' class='form-control' name='managed_asset[name]'
              id='managed_asset_name' aria-describedby='basic-addon1'
              value='<%= @managed_asset.name %>'></input>
          </div>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Image</span>
            <input type='text' disabled class='form-control'
              aria-describedby='basic-addon1' title='<%= @managed_asset.image.url %>'
              value='<%= @managed_asset.image.url %>'></input>
          </div>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Description</span>
            <input type='text' class='form-control' id='managed_asset_description'
              name='managed_asset[description]' value='<%= @managed_asset.description %>'
              aria-describedby='basic-addon1' ></input>
          </div>
          <div class='spacer'></div>

        </div> <!-- /panel body -->

        <div class='panel panel-footer'>
          <a class='btn btn-default' onclick='update_asset( <%= @managed_asset.id %> ); return false;'>Update</a>
          <a class='btn btn-default' href='<%= local_host %>/managed_assets/<%= @managed_asset.id %>'>Cancel</a>
          <a class='btn btn-default' href='/managed_assets/<%= @managed_asset.id %>'
            data-confirm='Are you sure?' data-method='delete' rel='nofollow'>Delete</a>
        </div>

      </div> <!-- /panel -->
    </div> <!-- /col -->

    <div class='col-md-1'></div>
    <div class='col-md-5'>
      <div id='panel_container'></div>
    </div>
  </div> <!-- /row -->

<%
end %>

<script>

  // This function is called when the user clicks save.  Data from the form
  // is gathered and posted to the design_template controller.
  function update_asset( assetId )
  {
    clear_managed_assets_cache();
    var form = $('#managed_asset_form');
    form.submit();
  }


  $(document).ready(function() { } );


</script>
