<%=
form_for @managed_asset, html: { multipart: true, id: 'managed_asset_form' } do |form|
%>

  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Edit Asset</h3>
        </div>
        <div class='panel-body'>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Name</span>
            <input type='text' class='form-control' name='managed_asset[name]'
              id='managed_asset_name' aria-describedby='basic-addon1'
              value='<%= @managed_asset.name %>'></input>
          </div>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Image File</span>
            <input type='text' disabled class='form-control'
              aria-describedby='basic-addon1' title='<%= @managed_asset.image.url %>'
              value='<%= @managed_asset.image.url %>'></input>
          </div>

          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Image File</span>
            <input type='file' class='form-control' name='managed_asset[image]'
              aria-describedby='basic-addon1' title='<%= @managed_asset.image.url %>'
              value='<%= @managed_asset.image %>'></input>
          </div>

          <div class='spacer'></div>

          <textarea class='form-control' name='managed_asset[description]' rows='3'><%= @managed_asset.description %></textarea>

          <div class='spacer'></div>


          <input type='submit' value='Save' class='btn btn-default'></input>
          <a class='btn btn-default' onclick='edit_template();' >Cancel</a>
          <a class='btn btn-default' href='/managed_assets/<%= @managed_asset.id %>'
            data-method='delete' rel='nofollow'>Delete</a>

        </div> <!-- / panel body -->
      </div> <!-- / panel -->
    </div> <!-- / col -->
  </div> <!-- / row -->


<%
end %>


<script>


  function edit_template( )
  {
    window.location = '/design_templates/<%= @managed_asset.design_template.id.to_s %>/edit';
  }

  $(document).ready(function(){
  });

</script>
