<!-- This partial generates the html prompting the user for specifics on how versions
of this template will ask about each tag extracted from the original file.  For example,
can the color be set for this tag? -->

<%
if ( @tags != nil ) then

  logger.info '_design_template_tags.html.erb - @values: ' + @values.to_s
  logger.info '_design_template_tags.html.erb - @tags: ' + @tags.to_s

  i = 0
  @tags.each { |t|

    logger.info '_design_template_tags.html.erb - t: ' + t

    offer_pal_enabled = ''
    label_class = ''
    prompt = ''
    max_length = ''
    min_length = ''
    pick_color = ''
    use_palette = ''
    palette_id = ''
    select_pal = ''

    if( @values != nil ) then

      # we'll try to look up any previously set values for this tag.

      all_tag_settings = @values[ 'tag_settings' ]

      if( all_tag_settings != nil ) then

        tagProps = all_tag_settings[ t.to_s ]
        logger.info '_design_template_tags.html.erb - tagProps: ' + tagProps.to_s

        if( tagProps != nil ) then
          prompt = tagProps[ 'prompt' ]
          max_length = tagProps[ 'max_length' ]
          min_length = tagProps[ 'min_length']
          pick_color = tagProps[ 'pick_color' ]
          use_palette = tagProps[ 'use_palette' ]
          palette_id = tagProps[ 'palette_id' ]
        end

        if( pick_color != 'checked' ) then
          offer_pal_enabled = 'disabled'
          label_class = 'disabled'
        end

        if( use_palette != 'checked' ) then
          select_pal = 'disabled'
        end

      end # there are tag settings

    end # there are set values
%>
    <div id='tag<%= i.to_s %>' data-tag-name='<%= t.to_s %>'></div>

    <div class="panel panel-info">
      <div class="panel-heading"><h3 class='panel-title'><%= t %> - Text Replacement</h3></div>
      <div class="panel-body" style='height:210;'> <!-- todo - why must i set the height? -->

        <div class='input-group'>
          <span class="input-group-addon" id="basic-addon1">Prompt</span>
          <input type='text' class='form-control' id='prompt<%= i.to_s %>' placeholder="Enter a prompt" aria-describedby="basic-addon1" value='<%= prompt %>'></input>
        </div>
        <div class='spacer'></div>

        <div>
          <div style='width:45%; float:left;'>
            <div class='input-group' style='margin-bottom:20px;'>
              <span class="input-group-addon" id="basic-addon2">Min Length</span>
              <input type='number' class='form-control' id='minl<%= i.to_s %>' aria-describedby="basic-addon2" value='<%= min_length %>'></input>
            </div>
          </div>
          <div style='width:45%; float:right;'>
            <div class='input-group' style='margin-bottom:20px;'>
              <span class="input-group-addon" id="basic-addon3">Max Length</span>
              <input type='number' class='form-control' id='maxl<%= i.to_s %>' aria-describedby="basic-addon3" value='<%= max_length %>'></input>
            </div>
          </div>
        </div>
        <div class='spacer'></div>

        <div class='clearfix'>
          <div style='float:left; width:45%;'>
            <label class='checkbox-label' style='margin-left:30px;'>
              Pick a color?
              <input type='checkbox' data-label-id='label<%= i.to_s %>' data-use-pal-id='use_pal<%= i.to_s %>' data-sel-id='select_pal<%= i.to_s %>' id='colorp<%= i.to_s %>' onchange='toggle_pick_color( event );' class='checkbox-input' value='true' <%= pick_color %> ></input>
            </label>
          </div>
          <div style='float:right; width:45%;'>
            <label class='checkbox-label <%= label_class %>' id='label<%= i.to_s %>' style='margin-left:30px;'>
              Offer a Palette?
              <input type='checkbox' data-sel-id='select_pal<%= i.to_s %>' onchange='toggle_use_palette( event );' class='checkbox-input' value='true' id='use_pal<%= i.to_s %>' <%= use_palette %> <%= offer_pal_enabled %> ></input>
            </label>
          </div>
        </div>
        <div class='spacer'></div>

        <div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">Palette</span>
            <select <%= select_pal %> id='select_pal<%= i.to_s %>' class="form-control" style='width:200px;' aria-describedby="basic-addon4">
              <option value="" disabled selected>Select a Palette</option>
<%            @palettes.each { |p|
                if ( p.id.to_s == palette_id ) then
                  selected = true
                else
                  selected = false
                end %>
                <option <%= if selected then 'selected="selected"' end %> value='<%= p.id.to_s %>'><%= p.name %></option>
<%            } %>
            </select>
          </div>
        </div>
        <div class='spacer'></div>


      </div> <!-- /panel body -->
    </div> <!-- /panel -->

<%
    i += 1
  } # each tag
%>

  <input type='hidden' id='tag_count' value='<%= i.to_s %>'></input>
<%
end # @tags is not nil
%>

<script>


  function toggle_use_palette( event )
  {
    var target = $(event.target);
    var sel_id = target.attr( 'data-sel-id' );
    var s, o;
    s = '#' + sel_id;
    o = $(s);
    o.prop( 'disabled', !target.is(':checked') );

    if( !target.is(':checked') ) {
      o.val( '' );
    }
  }

  function toggle_pick_color( event )
  {
    var target = $(event.target);
    var use_pal_id = target.attr( 'data-use-pal-id' );
    var sel_pal_id = target.attr( 'data-sel-id' );
    var label_id = target.attr( 'data-label-id' );


    var s, o;
    s = '#' + use_pal_id;
    o = $(s);
    o.prop( 'disabled', !target.is(':checked') );

    if( !target.is(':checked') ) {
      o.prop( 'checked', false );

      s = '#' + label_id;
      o = $(s);
      o.addClass( 'disabled' );

      s = '#' + sel_pal_id;
      o = $(s);
      o.val( '' );
    }
    else
    {
      s = '#' + label_id;
      o = $(s);
      o.removeClass( 'disabled' );
    }
  }


  function validate_tag_values()
  {
    //alert( '_design_template_tags.erb - validate_tag_values()' );

    var s;
    o = $( '#tag_count' );
    count = parseInt( o.val() );

    bValid = true;

    for( var i = 0; i < count; i++ )
    {
      s = '#prompt' + i;
      o = $(s);

      if( o.val() == '' )
      {
        bValid = false;
      }
    }

    return bValid;
  }


  // Builds json object with all setting values set on this page
  function build_tags_data()
  {

    var o;
    var s;
    var count;
    var prompt, maxl, minl, colorp;
    var returnSettings, tagName, tagSettings;

    o = $( '#tag_count' );
    count = parseInt( o.val() );

    returnSettings = {};

    for( var i = 0; i < count; i++ )
    {

      s = '#tag' + i;
      o = $(s);

      tagName = o.attr( 'data-tag-name' ).trim();

      tagSettings = {};
      returnSettings[ tagName ] = tagSettings;

      s = '#prompt' + i;
      o = $(s);
      prompt = o.val();
      tagSettings[ 'prompt' ] = prompt;

      s = '#maxl' + i;
      o = $(s);
      maxl = o.val();
      tagSettings[ 'max_length' ] = maxl;

      s = '#minl' + i;
      o = $(s);
      minl = o.val();
      tagSettings[ 'min_length' ] = minl;

      s = '#colorp' + i;
      o = $(s);
      colorp = o.is(":checked");

      if( colorp )
      {
        tagSettings[ 'pick_color' ] = 'checked';
      } else {
        tagSettings[ 'pick_color' ] = '';
      }


      s = '#use_pal' + i;
      o = $(s);
      use_pal = o.is(":checked");

      if( use_pal )
      {
        tagSettings[ 'use_palette' ] = 'checked';
      } else {
        tagSettings[ 'use_palette' ] = '';
      }

      s = '#select_pal' + i;
      o = $(s);
      palette_id = o.val();
      tagSettings[ 'palette_id' ] = palette_id;

    }

    return returnSettings;

  }


</script>
