<!-- This partial generates the html prompting the user for specifics on how versions
of this template will ask about each tag extracted from the original file.  For example,
can the color be set for this tag? -->

<%
if ( @tags != nil ) then

  logger.info '_design_template_tags.html.erb - @values: ' + @values.to_s
  logger.info '_design_template_tags.html.erb - @tags: ' + @tags.to_s

  i = 0
  @tags.each { |t|

    logger.info '_design_template_tags.html.erb - t: ' + t

    if( @values != nil ) then

      # we'll try to look up any previously set values for this tag.

      all_tag_settings = @values[ 'tag_settings' ]

      if( all_tag_settings != nil ) then

        tagProps = all_tag_settings[ t.to_s ]
        logger.info '_design_template_tags.html.erb - tagProps: ' + tagProps.to_s

        if( tagProps != nil ) then
          prompt = tagProps[ 'prompt' ]
          max_length = tagProps[ 'max_length' ]
          min_length = tagProps[ 'min_length']
          pick_color = tagProps[ 'pick_color' ]
        else
          prompt = ''
          max_length = ''
          min_length = ''
          pick_color = ''
        end

      end # there are tag settings

    end # there are set values
%>
    <div id='tag<%= i.to_s %>' data-tag-name='<%= t.to_s %>'></div>

    <div class="panel panel-info">
      <div class="panel-heading"><h3 class='panel-title'><%= t %> - Text Replacement</h3></div>
      <div class="panel-body" style='height:210;'> <!-- todo - why must i set the height? -->

        <div class='input-group'>
          <span class="input-group-addon" id="basic-addon1">Prompt</span>
          <input type='text' class='form-control' id='prompt<%= i.to_s %>' placeholder="Enter a prompt" aria-describedby="basic-addon1" value='<%= prompt %>'></input>
        </div>

        <div class='spacer'></div>

        <div>
          <div style='float:left; width:50%;'>
            <div class='input-group' style='margin-bottom:20px;'>
              <span class="input-group-addon" id="basic-addon2">Min Length</span>
              <input type='number' class='form-control' id='minl<%= i.to_s %>' aria-describedby="basic-addon2" value='<%= min_length %>'></input>
            </div>
            <div class='input-group' style='margin-bottom:20px;'>
              <span class="input-group-addon" id="basic-addon3">Max Length</span>
              <input type='number' class='form-control' id='maxl<%= i.to_s %>' aria-describedby="basic-addon3" value='<%= max_length %>'></input>
            </div>
          </div>
          <div style='float:left; width:50%;'>
            <label class='checkbox-label' style='margin-left:30px;'>
              Pick a color?
              <input type='checkbox' class='checkbox-input' value='true' id='colorp<%= i.to_s %>' <%= pick_color %> ></input>
            </label>
          </div>
        </div>

      </div> <!-- /panel body -->
    </div> <!-- /panel -->

<%
    i += 1
  } # each tag
%>

  <input type='hidden' id='tag_count' value='<%= i.to_s %>'></input>
<%
end # @tags is not nil
%>

<script>


  function validate_tag_values()
  {
    //alert( '_design_template_tags.erb - validate_tag_values()' );

    var s;
    o = $( '#tag_count' );
    count = parseInt( o.val() );

    bValid = true;

    for( var i = 0; i < count; i++ )
    {
      s = '#prompt' + i;
      o = $(s);

      if( o.val() == '' )
      {
        bValid = false;
      }
    }

    return bValid;
  }


  // Builds json object with all setting values set on this page
  function build_tags_data()
  {

    var o;
    var s;
    var count;
    var prompt, maxl, minl, colorp;
    var returnSettings, tagName, tagSettings;

    o = $( '#tag_count' );
    count = parseInt( o.val() );

    returnSettings = {};

    for( var i = 0; i < count; i++ )
    {

      s = '#tag' + i;
      o = $( s );

      tagName = o.attr( 'data-tag-name' ).trim();

      tagSettings = {};
      returnSettings[ tagName ] = tagSettings;

      s = '#prompt' + i;
      o = $( s );
      prompt = o.val();
      tagSettings[ 'prompt' ] = prompt;

      s = '#maxl' + i;
      o = $( s );
      maxl = o.val();
      tagSettings[ 'max_length' ] = maxl;

      s = '#minl' + i;
      o = $( s );
      minl = o.val();
      tagSettings[ 'min_length' ] = minl;

      s = '#colorp' + i;
      o = $( s );
      colorp = o.is(":checked");

      if( colorp )
      {
        tagSettings[ 'pick_color' ] = 'checked';
      } else {
        tagSettings[ 'pick_color' ] = '';
      }

    }

    return returnSettings;

  }


</script>
