
<h4><%= @design_template.name %> Tags</h4>

<%
if ( @tags != nil ) then

  logger.info '_design_template_tags.html.erb - @values: ' + @values.to_s
  logger.info '_design_template_tags.html.erb - @tags: ' + @tags.to_s

  i = 0
  @tags.each { |t|

    logger.info '_design_template_tags.html.erb - t: ' + t

    if( @values != nil ) then

      # we'll try to look up any previously set values for this tag.

      all_tag_settings = @values[ 'tag_settings' ]

      if( all_tag_settings != nil ) then

        tagProps = all_tag_settings[ t.to_s ]
        logger.info '_design_template_tags.html.erb - tagProps: ' + tagProps.to_s

        if( tagProps != nil ) then
          prompt = tagProps[ 'prompt' ]
          max_length = tagProps[ 'max_length' ]
          min_length = tagProps[ 'min_length']
          pick_color = tagProps[ 'pick_color' ]
        else
          prompt = ''
          max_length = ''
          min_length = ''
          pick_color = ''
        end

      end # there are tag settings

    end # there are set values
%>
    <div id='tag<%= i.to_s %>' data-tag-name='<%= t.to_s %>'></div>

      <div class="panel panel-default">
          <div class="panel-heading"><%= t %></div>
          <div class="panel-body">


            <label for="prompt<%= i.to_s %>">Prompt</label>
            <input type="text" class="form-control input-lg" value='<%= prompt %>' id='prompt<%= i.to_s %>' placeholder="Enter a prompt">

            <br><br>


            <div>
              <div style='float: left; width: 33%'>
                <label for="minl<%= i.to_s %>">Min Length</label>
                <input type='number' style='width: 100px;' class="form-control" value='<%= min_length %>' id='minl<%= i.to_s %>'></input>
              </div>
              <div style='float: left; width: 33%'>
                <label for="maxl<%= i.to_s %>">Max Length</label>
                <input type='number' style='width: 100px;' class="form-control" value='<%= max_length %>' id='maxl<%= i.to_s %>'></input>
              </div>
              <div style='float: left; width: 33%'>
                <label for="colorp<%= i.to_s %>">Choose the color?</label>
                <input type='checkbox' class="form-control" <%= pick_color %> value='true' id='colorp<%= i.to_s %>'></input>
              </div>

            </div>

            <br><br>


          </div>
      </div>

<%
    i += 1
  } # each tag
%>

  <input type='hidden' id='tag_count' value='<%= i.to_s %>'></input>
<%
end # @tags is not nil
%>

<script>


  function validate_tag_values()
  {
    alert( 'validate tags' );

    return true;
  }


  // Builds json object with all setting values set on this page
  function build_tags_data()
  {

    var o;
    var s;
    var count;
    var prompt, maxl, minl, colorp;
    var returnSettings, tagName, tagSettings;

    o = $( '#tag_count' );
    count = parseInt( o.val() );

    returnSettings = {};

//    alert( 'count: ' + count );

    for( var i = 0; i < count; i++ )
    {

      s = '#tag' + i;
      o = $( s );

      tagName = o.attr( 'data-tag-name' ).trim();

      tagSettings = {};
      returnSettings[ tagName ] = tagSettings;

      s = '#prompt' + i;
      o = $( s );
      prompt = o.val();
      tagSettings[ 'prompt' ] = prompt;

      s = '#maxl' + i;
      o = $( s );
      maxl = o.val();
      tagSettings[ 'max_length' ] = maxl;

      s = '#minl' + i;
      o = $( s );
      minl = o.val();
      tagSettings[ 'min_length' ] = minl;

      s = '#colorp' + i;
      o = $( s );
      colorp = o.is(":checked");

      if( colorp )
      {
        tagSettings[ 'pick_color' ] = 'checked';
      } else {
        tagSettings[ 'pick_color' ] = '';
      }

    }

    return returnSettings;

  }


</script>
