<!-- This partial generates the html prompting the user for specifics on how versions
of this template will ask about each image extracted from the original file.  For example,
should this extracted image be replaced? -->

<%
if !@images.nil?

  #logger.info '_design_template_images.html.erb - @prompts: ' + @prompts.to_s
  #logger.info '_design_template_images.html.erb - @images: ' + @images.to_s

  i = 0
  @images.each { |image|
    logger.info '_design_template_images.html.erb - image: ' + image.to_s
    is_tb = is_trans_butt_image( @design_template, image )
    logger.info '_design_template_images.html.erb - is_tb: ' + is_tb.to_s

    if !@prompts.nil? && (image != '')
      # we'll try to look up any previously set values for this image.
      imageProps = @prompts[ PROMPTS_KEY_IMAGE_SETTINGS ][ image.to_s ]
      logger.info '_design_template_images.html.erb - imageProps: ' + imageProps.to_s

      # by default, fit image? checkbox is disabled.
      fitProp = 'disabled="disabled"'
      replaceLabelClass = ''
      fitLabelClass = 'disabled'

      if !imageProps.nil?
        # we've got image props, these settings have been previously set

        if is_tb
          # trans butt images must be replaced, and they may not be scaled.
          # (the intent is that the proportions of the placed image matches the
          # proportions of the generated halves.  Not necessary, but scaling
          # and cropping unpredictably cuts text out.)
          replaceImage = 'checked'
          fitImage = ''
          fitProp = 'disabled="disabled"'
          replaceProp = 'disabled="disabled"'
          replaceLabelClass = 'disabled'
          fitLabelClass = 'disabled'
        else
          # it's not a trans-butt image, just use previously set settings
          replaceImage = imageProps[ PROMPTS_KEY_REPLACE_IMG ]
          fitImage = imageProps[ PROMPTS_KEY_FIT_IMG ]
          if( replaceImage == 'checked' )
            fitProp = ''
            replaceLabelClass = ''
            fitLabelClass = ''
          else
            fitProp = 'disabled="disabled"'
            replaceLabelClass = ''
            fitLabelClass = 'disabled'
          end

        end
      end
    end # @prompts not nil %>

    <div class='panel panel-success'>
      <div class='panel-heading'><h3 class='panel-title'><%= image %> - Image Replacement</h3></div>
      <div class='panel-body'>

        <input type='hidden' name='image_name<%= i.to_s %>' value='<%= image.to_s %>'></input>

        <label class='checkbox-label <%= replaceLabelClass.to_s %>'>
          Replace this image?
          <input type='checkbox' data-label-id='fit_label<%= i.to_s %>'
            data-input-id='fit_image<%= i.to_s %>' data-image-name='<%= image %>'
            onclick='toggle_replace( event );' class='checkbox-input'
            <%= replaceProp.to_s %> value='true' <%= replaceImage.to_s %>
            name='replace_image<%= i.to_s %>' id='replace_image<%= i.to_s %>' >
          </input>
        </label>

        <label id='fit_label<%= i.to_s %>' class='checkbox-label <%= fitLabelClass.to_s %>'>
          Scale and crop replacement images?
          <input type='checkbox' class='checkbox-input' <%= fitProp.to_s %>
          value='true' <%= fitImage %> data-image-name='<%= image %>'
          name='fit_image<%= i.to_s %>' id='fit_image<%= i.to_s %>' <%= fitImage %> ></input>
        </label>

      </div>
    </div>
    <div class='spacer'></div>
    
<%
    i += 1
  } # each tag
%>
  <input type='hidden' name='image_count' value='<%= i.to_s %>'></input>
<%
end #imags is not nil
%>


<script>

  function validate_image_values()
  {
    // not really anything to do here.
    return true;
  }


  function toggle_replace( event )
  {
    var target = $(event.target);

    var input_id = target.attr( 'data-input-id' );
    var label_id = target.attr( 'data-label-id' );
    var fit_input = $( '#' + input_id );
    var fit_label = $( '#' + label_id );

    if( !target.is(':checked') )
    {
      // Do not replace
      fit_input.prop( 'disabled', true );
      fit_input.prop( 'checked', false );
      fit_label.addClass( 'disabled' );
    }
    else
    {
      // Do replace
      fit_input.prop( 'disabled', false );
      fit_label.removeClass( 'disabled' );
    }

  }


</script>
