
<h4>Version Tags</h4><br>

<%
i = 0
@tag_settings.each { |tag|

  tag_name = tag[ 0 ]
  prompt = tag[ 1 ]['prompt']
  max_length = tag[ 1 ]['max_length']
  pick_color = tag[ 1 ]['pick_color']

  if( @tag_values ) then
    val = @tag_values[ tag_name ]

    if( val != nil ) then
      replacement_text = val['replacement_text']
      text_color = val['text_color']
    end

  end

  logger.info '_VERSION_TAGS.html.erb - tag_name: ' + tag_name.to_s
  logger.info '_VERSION_TAGS.html.erb - pick_color: ' + pick_color.to_s
  logger.info '_VERSION_TAGS.html.erb - max_length: ' + max_length.to_s


%>
  <div style='margin-top:30px;'>
<%= prompt %>: <input type='text' value='<%= replacement_text %>' id='replacement_text<%= i.to_s %>' data-tag-name='<%= tag_name %>' maxlength='<%= max_length %>'></input><br>
<%
    if( pick_color != '' ) then
%>
      Pick a color: <div class="input-group" id="colorpicker<%= i.to_s %>">
                      <input type="text" id="color_val<%= i.to_s %>" value="<%= text_color %>" class="form-control" />
                      <span class="input-group-addon"><i></i></span>
                    </div>

<%  end %>
  </div>

<%
  i += 1
} # each tag

%>

<input type='hidden' id='tag_count' value='<%= i.to_s %>'></input>

<script>


  $(document).ready(function(){

    $("[id^='colorpicker']").colorpicker({});
  });



  function build_tag_values()
  {
    var count = $('#tag_count').val();
    var s, v, o;
    var rep_text;
    var text_color;

    var oReturn;
    var oTagProps;
    oReturn = {};

    var tag_name;

    for( var i = 0; i < count; i++ )
    {
          s = '#replacement_text' + i;
          o = $(s);
          rep_text = o.val();
          tag_name = o.attr( 'data-tag-name' );

          s = '#color_val' + i;
          o = $(s);
          text_color = o.val();

          oTagProps = {};
          oTagProps[ 'replacement_text' ] = rep_text;
          oTagProps[ 'text_color' ] = text_color;


          oReturn[ tag_name ] = oTagProps;
    }

    return oReturn;
  }

</script>
