<!-- This partial generates the html prompting the user for specifics on how images
should be dealt with for a version.  This file must coordinate with the _design_template_images partial.
For example, the design template images partial asks, should this image be replaced? and the version
images partial says, ok, this image is getting replaced, what should I replace it with? -->

<%
logger.info '_VERSION_IMAGES.html.erb - @image_values: ' + @image_values.to_s
logger.info '_VERSION_IMAGES.html.erb - @image_settings: '\
  + JSON.pretty_generate(  @image_settings )

i = 0

@image_settings.each { |image|

  image_settings = image[ 1 ]

  next if( image_settings[ PROMPTS_KEY_REPLACE_IMG ] == '' )

  image_name = image[ 0 ]

  logger.info '_VERSION_IMAGES.html.erb - image_name: ' + image_name.to_s
  logger.info '_VERSION_IMAGES.html.erb - @version: ' + @version.to_s

  replacement_path = ''
  raplacement_name = ''
  replacement_image_id = ''
  collage_query = ''
  collage_checked = ''
  ri_checked = true
  ri_display = ''
  collage_display = 'display:none;'
  is_collage = false

  if @version

    is_collage = associated_with_collage?( image_name, @version )
    logger.info '_VERSION_IMAGES.html.erb - is_collage: ' + is_collage.to_s

    if is_collage
      collage = get_collage( image_name, @version )

      begin
        collage_query = collage.query
        collage_checked = 'checked'
        collage_display = ''
        ri_checked = false
        ri_display = 'display:none;'
        query_obj = JSON.parse( collage_query )
        collage_query_type = query_obj[ 'instagram' ][ 'type' ]
        collage_query_string = query_obj[ 'instagram' ][ 'query_string' ]
      rescue
        collage_query_string = ''
      end

    else
      replacement_path = get_local_image_path( image_name, @version )
      replacement_name = get_uploaded_file_name( image_name, @version )
      replacement_image_id = get_replacement_image_id( image_name, @version )
      ri_display = ''
    end

    logger.info '_VERSION_IMAGES.html.erb - ri_display: ' + ri_display.to_s
    logger.info '_VERSION_IMAGES.html.erb - collage_display: ' + collage_display.to_s


  end

%>
  <div class='panel panel-success'>
    <div class='panel-heading'><h3 class='panel-title'><%= image_name %> - Image Replace</h3></div>
    <div class='panel-body'>

      <div id='wah' class='btn-group' data-upload-desc-id= 'upload-desc<%= i.to_s %>' data-upload-gp-id='upload-gp<%= i.to_s %>' data-inst-gp-id='inst-gp<%= i.to_s %>'>
        <label class='btn'>
          <input type='radio' onchange='changeType( event );' name='type<%= i.to_s %>' <%= 'checked' if ri_checked %> value='upload'></input>
            <span>Upload</span>
        </label>
        <label class='btn'>
          <input type='radio' onchange='changeType( event );' name='type<%= i.to_s %>' <%= 'checked' if !ri_checked %> value='instagram'></input>
          <span>Instagram</span>
        </label>
      </div>

      <div class='spacer'></div>

      <div style='<%= ri_display %>' class='upload-group' id='upload-desc<%= i.to_s %>'>
        Upload a single image or a zip of many.
      </div>

      <div class='input-group upload-group' style='<%= ri_display %>' id='upload-gp<%= i.to_s %>'>
        <span class='input-group-btn' id='basic-addon2'>
          <span  class='btn btn-default fileinput-button' id='file_input_container'>
            <span>Upload</span>
            <input type='file' data-input-id='replacement_path<%= i.to_s %>' name='replacement_image<%= i.to_s %>[uploaded_file]' id='replacement_image_uploaded_file<%= i.to_s %>' onchange='fileInputChange( this );' >
          </span>
        </span>
        <input type='text' disabled class='form-control' title='<%= replacement_path %>' value='<%= replacement_name %>' id='replacement_path<%= i.to_s %>' data-image-name='<%= image_name %>'></input>
      </div>

      <div class='input-group instagram-group' style='width:100%;<%= collage_display %>' id='inst-gp<%= i.to_s %>'>

        <select style='width:30%;' id='collage_query_type<%= i.to_s %>' name='collage_query_type<%= i.to_s %>' class='form-control'>
          <option value='user'>Instagram User</option>
          <option value='tag'>Hash Tag</option>
        </select>

        <input style='width:70%;' type='text' class='form-control' id='collage_query_string<%= i.to_s %>' value='<%= collage_query_string %>' name='collage_query_string<%= i.to_s %>'></input>

      </div>

      <div class='spacer'></div>

      <input style='display:none;' id='version_id<%= i.to_s %>' name='version_id<%= i.to_s %>' value='<%= @version_id %>'></input>
      <input style='display:none;' id='image_name<%= i.to_s %>' name='image_name<%= i.to_s %>' value='<%= image_name %>'></input>
      <input style='display:none;' id='replacement_image_id<%= i.to_s %>' name='replacement_image_id<%= i.to_s %>' value='<%= replacement_image_id %>'></input>

    </div>
  </div>
<%
  i += 1
} # each image
%>

<input type='hidden' name='image_count' id='image_count' value='<%= i.to_s %>'></input>

<script>

  function changeType( event )
  {
    var s, o, type;
    var target = $(event.target);
    var name_attr = target.attr( 'name' );
    var parent = target.parent().parent().parent();

    s = 'input:radio[name=' + name_attr + ']:checked';
    o = $(s);

    // todo there must be a better way
    type = o.val();

    if( type == 'upload' )
    {
      parent.find( '.upload-group' ).show();
      parent.find( '.instagram-group' ).hide();
    }
    else {
      parent.find( '.upload-group' ).hide();
      parent.find( '.instagram-group' ).show();
    }
  }

  function fileInputChange( element )
  {
    var s, e, inputId;
    var filePath = event.target.value;
    filePath = filePath.replace(/.*[\/\\]/, '');

    s = '#' + element.id;
    e = $( s );

    inputId = e.attr( 'data-input-id' );

    s = '#' + inputId;
    e = $( s );

    if( filePath !== '' )
    {
      e.val( filePath );
    }
  }


  function validate_image_values()
  {
    var count = $('#image_count').val();
    var s, o;

    for( var i = 0; i < count; i++ )
    {
//    todo, validate stuff smartly
//      s = '#replacement_path' + i;
//      o = $(s);
//      if( o.val() == '' )
//      {
//        alert( 'Please upload a file.' );
//        return false;
//      }
    }

    return true;
  }


</script>
