
<%
  index = 0
  @assets.each { |asset|
    if index % 2 == 0
      image_div_style = 'float:right; margin-left:10px;'
    else
      image_div_style = 'float:left; margin-right:10px;'
    end
    index += 1

    if has_image( asset )
      desc_div_style = ' width:75%;'      
      image_div_style += 'display:inline-block;'
    else
      desc_div_style = ' width:100%;'
      image_div_style += ' display:none;'
    end
%>
    <div style='<%= image_div_style.to_s %> width:20%; position:relative;'>
      <a onclick='image_click("<%= asset.image.url.to_s %>");'>
        <%= image_tag( asset.image, { width: '100%', height: '100%' } ) %>
      </a>
    </div>

    <div style='<%= desc_div_style.to_s %> vertical-align:top; display:inline-block; position:relative;'>
      <p class=''>
<%=     asset.description.to_s %>
      </p>
    </div>
    <div style='display:inline-block; width:100%; height:5px;'></div>
<%
  }

  @image_only_assets.each { |asset| %>
    <div style='width:20%; margin-right:5px; display:inline-block; position:relative;'>
      <a onclick='image_click("<%= asset.image.url.to_s %>");'>
        <%= image_tag( asset.image, { width: '100%', height: '100%' } ) %>
      </a>
    </div>
<%
  } %>

  <div class='spacer'></div>
  <div class='spacer'></div>


<script>

  function image_click( url )
  {
    window.open( url );
  }

</script>
