
<h3><%= @design_template.name %> Settings</h3>

<%
if ( @tags != nil ) then

  logger.info 'TAGS.html.erb - @values: ' + @values.to_s
  logger.info 'TAGS.html.erb - @tags: ' + @tags.to_s

  i = 0
  @tags.each { |t|

    logger.info 'TAGS.html.erb - t: ' + t

    if( @values != nil ) then

      # we'll try to look up any previously set values for this tag.

      tagProps = @values[ t.to_s ]
      logger.info 'TAGS.html.erb - tagProps: ' + tagProps.to_s

      if( tagProps != nil ) then
        prompt = tagProps[ 'prompt' ]
        max_length = tagProps[ 'max_length' ]
        pick_color = tagProps[ 'pick_color' ]
      else
        prompt = ''
        max_length = ''
        pick_color = ''
      end

    end

%>

<div id='tag<%= i.to_s %>' data-tag-name='<%= t.to_s %>'></div>

<div class="panel panel-default">
  <div class="panel-heading"><%= t %></div>
  <div class="panel-body">


    <label for="prompt<%= i.to_s %>">Prompt</label>
    <input type="text" class="form-control input-lg" value='<%= prompt %>' id='prompt<%= i.to_s %>' placeholder="Enter a prompt">

    <br><br>

    <label for="maxl<%= i.to_s %>">Max Length</label>
    <input type='number' class="form-control" value='<%= max_length %>' id='maxl<%= i.to_s %>'></input>

    <br><br>

    <label for="colorp<%= i.to_s %>">Choose the color?</label>
    <input type='checkbox' class="form-control" <%= pick_color %> value='true' id='colorp<%= i.to_s %>'></input>


  </div>
</div>

<%
    i += 1
  }

%>
  <input type='hidden' id='count' value='<%= i.to_s %>'></input>
<%
end
%>

<script>

  // Builds json object with all setting values set on this page
  function build()
  {

    var o;
    var s;
    var count;
    var prompt, maxl, colorp;
    var returnSettings, tagName, tagSettings;

    o = $( '#count' );
    count = parseInt( o.val() );

    returnSettings = {};

    for( var i = 0; i < count; i++ )
    {

      s = '#tag' + i;
      o = $( s );

      tagName = o.attr( 'data-tag-name' ).trim();

      tagSettings = {};
      returnSettings[ tagName ] = tagSettings;

      s = '#prompt' + i;
      o = $( s );
      prompt = o.val();
      tagSettings[ 'prompt' ] = prompt;

      s = '#maxl' + i;
      o = $( s );
      maxl = o.val();
      tagSettings[ 'max_length' ] = maxl;

      s = '#colorp' + i;
      o = $( s );
      colorp = o.is(":checked");

      if( colorp )
      {
        tagSettings[ 'pick_color' ] = 'checked';
      } else {
        tagSettings[ 'pick_color' ] = '';
      }

    }

    return returnSettings;

  }


</script>
