
<h4><%= @design_template.name %> Settings</h4>

<%
if ( @tags != nil ) then

  puts '@values: ' + @values.to_s
  puts '@tags: ' + @tags.to_s

  i = 0
  @tags.each { |t|

#    t = t.strip # todo, do i need to do this here?
    logger.info 't: ' + t

    if( @values != nil ) then
      tagProps = @values[ t.to_s ]
      puts 'tagProps: ' + tagProps.to_s

      if( tagProps != nil ) then
        prompt = tagProps[ 'prompt' ]
        max_length = tagProps[ 'max_length' ]
        pick_color = tagProps[ 'pick_color' ]

      else
        prompt = ''
        max_length = ''
        pick_color = ''
      end

    end

%>
    <div><b>Tag:</b> <%= t %></div>
    <div id='tag<%= i.to_s %>' data-tag-name='<%= t.to_s %>'>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Prompt</span>
        <input type="text" value='<%= prompt %>' id='prompt<%= i.to_s %>' class="form-control" placeholder="Enter a prompt" aria-describedby="basic-addon1">
      </div>

      Max Length: <input type='number' value='<%= max_length %>' id='maxl<%= i.to_s %>'></input><br>
      Pick Color? <input type='checkbox' <%= pick_color %> value='true' id='colorp<%= i.to_s %>'></input><br>
    </div>
    <hr />
<%
    i += 1
  }

%>
  <input type='hidden' id='count' value='<%= i.to_s %>'></input>
<%
end
%>

<script>

  function build()
  {

    var o;
    var s;
    var count;
    var prompt, maxl, colorp;
    var returnSettings, tagName, tagSettings;

    o = $( '#count' );

    count = parseInt( o.val() );

    returnSettings = {};


    for( var i = 0; i < count; i++ )
    {

      s = '#tag' + i;
      o = $( s );

      tagName = o.attr( 'data-tag-name' ).trim();

      tagSettings = {};
      returnSettings[ tagName ] = tagSettings;

      s = '#prompt' + i;
      o = $( s );
      prompt = o.val();
      tagSettings[ 'prompt' ] = prompt;

      s = '#maxl' + i;
      o = $( s );
      maxl = o.val();
      tagSettings[ 'max_length' ] = maxl;

      s = '#colorp' + i;
      o = $( s );
      colorp = o.is(":checked");

      if( colorp )
      {
        tagSettings[ 'pick_color' ] = 'checked';
      } else {
        tagSettings[ 'pick_color' ] = '';
      }

    }

    return returnSettings;

  }


</script>
