<h1>Enter Values!</h1>

<h4>For <%= @design_template.name %> template</h4>

<%
if @prompts_file_exist then

  i = 0
  @prompts.each { |p|

    val = ''
    if( @values != nil ) then        
      val = @values[ p.to_s ]
    end

%>
    <%= p.to_s %>: <input data-prompt='<%= p.to_s %>' type='text' value='<%= val %>' id='val<%= i.to_s %>'></input><br>
<%
    i += 1
  }

%>
  <input type='hidden' id='count' value='<%= i.to_s %>'></input>

<%
end
%>
