<h1>Enter Values!</h1>

<h4>For <%= @design_template.name %> template</h4>

<%
if @prompts then

  i = 0
  @prompts.each { |tag|

    tag_name = tag[ 0 ]
    prompt = tag[ 1 ]['prompt']
    max_length = tag[ 1 ]['max_length']
    pick_color = tag[ 1 ]['pick_color']

    if( @values ) then
      val = @values[ tag_name ]

      if( val != nil ) then
          replacement_text = val['replacement_text']
          text_color = val['text_color']
      end

    end

    puts 'tag_name: ' + tag_name.to_s
    puts 'pick_color: ' + pick_color.to_s
    puts 'max_length: ' + max_length.to_s

%>
    <div style='margin-top:30px;'>
<%= prompt %>: <input type='text' value='<%= replacement_text %>' id='replacement_text<%= i.to_s %>' data-tag-name='<%= tag_name %>' maxlength='<%= max_length %>'></input><br>
<%
    if( pick_color != '' ) then
%>
      Pick a color: <div class="input-group" id="colorp<%= i.to_s %>">
                      <input type="text" value="<%= text_color %>" class="form-control" />
                      <span class="input-group-addon"><i></i></span>
                    </div>

<%  end %>
    </div>
<%
    i += 1
  } # each tag in prompts
%>
  <input type='hidden' id='count' value='<%= i.to_s %>'></input>


<%
end
%>

<script>




$(document).ready(function(){

  $("[id^='colorp']").colorpicker({});
});



function build_values_form()
{

  var count = $('#count').val();
  var s, v, o;
  var rep_text;
  var text_color;

  var oReturn;
  var oTagProps;
  oReturn = {};

  var tag_name;

  for( var i = 0; i < count; i++ )
  {
        s = '#replacement_text' + i;
        o = $(s);
        rep_text = o.val();
        tag_name = o.attr( 'data-tag-name' );

        s = '#colorp' + i;
        o = $(s);
        text_color = o.val();

        oTagProps = {};
        oTagProps[ 'replacement_text' ] = rep_text;
        oTagProps[ 'text_color' ] = text_color;


        oReturn[ tag_name ] = oTagProps;
  }

  return oReturn;
}

</script>
