<h1>Enter Values!</h1>

<h4>For <%= @design_template.name %> template</h4>

<%
if @tags_file_exist then

  i = 0
  @tags.each { |t|

    val = ''
    if( @values != nil ) then
      val = @values[ t.to_s ]
    end

%>
    <%= p.to_s %>: <input data-prompt='<%= t.to_s %>' type='text' value='<%= val %>' id='val<%= i.to_s %>'></input><br>
<%
    i += 1
  }

%>
  <input type='hidden' id='count' value='<%= i.to_s %>'></input>

<%
end
%>
