<!-- Edit Version -->

<script>

  function validate()
  {
    if( $('#version_name').val() === '' )
    {
      alert( 'Please enter a name for this version.' );
      return false;
    }
    return validate_version_settings();  // call into the partials/version_settings UI
  }

  // this is called when the user creates or updates a Version
  function create_version()
  {
    if( validate() )
    {
      clear_versions_cache();
      var form = $('#version_form');
      form.submit();
    }
  }

  function toggle_runai( event )
  {
    var target = $(event.target);

    var render_checkbox = $( '#render' );
    var render_label = $( '#render_label' );

    if( !target.is(':checked') )
    {
      // Do not run illustrator
      render_checkbox.prop( 'disabled', true );
      render_checkbox.prop( 'checked', false );
      render_label.addClass( 'disabled' );
    }
    else
    {
      // Do run illustrator
      render_checkbox.prop( 'disabled', false );
      render_label.removeClass( 'disabled' );
    }

  }

  function getTemplateHTML( templateId )
  {
    var o;
    var uri;
    uri = '<%= local_host %>/partials/version_settings?template_id=' + templateId + '&version_id=' + <%= @version.id %>;

    $.get( uri, function(data, status) {
        $('#values_container').html( data ); });
  }

  function getManagedAssetsHTML( templateId )
  {
    var o;
    var uri;
    uri = '<%= local_host %>/partials/_managed_assets?template_id=' + templateId;

    $.get( uri, function(data, status) {
      $('#managed_assets_container').html( data ); });
  }

  $(document).ready( function() {
    getTemplateHTML( <%= @design_template.id %> );
    getManagedAssetsHTML( <%= @design_template.id %> );
  });

</script>


<%=
form_for @version, html: { multipart: true, id: 'version_form' } do |form|
%>
  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Edit Version</h3>
        </div>
        <div class='panel-body'>

          <div class='input-group'>
            <span class='input-group-addon' id='basic-addon1'>Name</span>
            <input type='text' class='form-control' id='version_name' name='version[name]'
              value='<%= @version.name %>' aria-describedby='basic-addon1'></input>
          </div>
          <div class='spacer'></div>

          <div class='input-group'>
            <span class='input-group-addon' id='basic-addon1'>Folder</span>
            <input type='text' class='form-control' id='version_output_folder_path'
              title='<%= @version.output_folder_path %>'
              value='<%= @version.output_folder_path %>'
              name='version[output_folder_path]'></input>
          </div>
          <div class='spacer'></div>

          <div class='input-group'>
            <span class='input-group-addon' id='basic-addon1'>Template</span>
            <select class='form-control' disabled style='width:200px;'
              name='version[design_template_id]' id='version_design_template_id'>
              <option value='' disabled selected>Select a Template</option>
<%              @design_templates.each { |t|
                  if t.id == @design_template_id.to_i
                    selected = true
                  else
                    selected = false
                  end %>
                  <option <%= if selected then 'selected="selected"' end %>
                    value='<%= t.id.to_s %>'><%= t.name %></option>
<%              } %>
            </select>
          </div>
          <div class='spacer'></div>

          <label class='checkbox-label'>
            Run Illustrator?
            <input type='checkbox' name='runai' id='runai' class='checkbox-input'
              onchange='toggle_runai( event );' value='true'></input>
          </label>
          <label id='render_label' class='checkbox-label disabled'>
            Send to Render?
            <input type='checkbox' disabled name='render' id='render'
              class='checkbox-input' value='true'></input>
          </label>

          <div class='spacer'></div>

          <a class='btn btn-default' id='update' onclick='create_version(); return false;'>Update</a>
          <a class='btn btn-default' href='<%= local_host %>/versions/<%= @version.id %>'>Cancel</a>
          <a class='btn btn-default' href='/versions/<%= @version.id %>' data-confirm='Are you sure?'
            data-method='delete' rel='nofollow'>Delete</a>

        </div> <!-- / panel body -->
      </div> <!-- / panel -->

      <div id='managed_assets_container'></div>

    </div>  <!-- / col -->
    <div class='col col-md-1'></div>
    <div class='col col-md-5'>
      <div id='values_container'></div>
    </div>
  </div> <!-- / row -->
<%
end %>
