<!-- Edit Version -->

<script>

  // this is called when the user creates or updates a Version
  function create_version()
  {

    if( validate() )
    {

      // this funtion is defined in the version_settings.html.erb controlled by partials controller
      var oReturn = build();
      $('#version_data').attr( 'value', JSON.stringify( oReturn ) );


      var $pathInput = $('#version_output_folder_path');
      var userSpecFolder = $pathInput.val();

      // If the version, as saved in db, has no output path, but the user just entered
      // a path, then we'll append the appropriate prefix
      if( ( '<%= @version.output_folder_path %>' == '' ) && (userSpecFolder != '') )
      {
        // now we're gonna sneak in and append the beginning to this path
        var fullPath = '<%= @root_folder %>' + '/' + userSpecFolder;
        // and make sure it ends with a '/'
        var c = fullPath.slice(-1);
        if( c != '/' )
        {
          fullPath = fullPath + '/';
        }
        $pathInput.val( fullPath );
      }


      var form = $('#version_form');
      form.submit();

    }
    else
    {

      alert( 'failed validation!' );
    }

  }



  function getTemplateHTML( templateId, useVersion )
  {

    var o;
    var uri;

    if( templateId == null )
    {
      o = $('#version_design_template_id');
      templateId = o.val();
    }

    if( useVersion )
    {
      uri = "<%= get_local_host %>/partials/version_settings/" + templateId + "?version_id=" + <%= @version.id %>;
    }
    else
    {
      uri = "<%= get_local_host %>/partials/version_settings/" + templateId;
    }


    $.get( uri, function(data, status)
      {
        $('#values_container').html( data );
      } );
  }


  $(document).ready(function(){
    getTemplateHTML( <%= @design_template.id %>, true );
  });

</script>

<%=
form_for @version, html: { multipart: true, id: 'version_form' } do |form|
%>

  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit Version</h3>
        </div>
        <div class="panel-body">

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input type='text' class="form-control" name='version[name]' aria-describedby="basic-addon1"></input>
          </div>
          <div class='spacer'></div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Folder</span>
            <input type='text' class="form-control" id='version_output_folder_path' value='<%= @root_folder + "/" %>' name='version[output_folder_path]'></input>
          </div>
          <div class='spacer'></div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Template</span>
            <select class="form-control" style='width:200px;' name='version[design_template_id]' id='version_design_template_id'>
              <option value="" disabled selected>Select a Template</option>

  <%            @design_templates.each { |t|

                  if ( t.id == @design_template_id.to_i ) then
                    selected = true %>
  <%              else
                    selected = false
                  end
  %>
                  <option <%= if selected then 'selected="selected"' end %> value='<%= t.id.to_s %>'><%= t.name %></option>
  <%            } %>
            </select>
          </div>
          <div class='spacer'></div>

          <label class='checkbox-label'>
            Run Illustrator?
            <input type='checkbox' name='runai' id='runai' class='checkbox-input' value='true'></input>
          </label>
          <div class='spacer'></div>


          <a class="btn btn-default" id='update' onclick='create_version();'>Update</a>
          <a class='btn btn-default' href='<%= get_local_host %>/versions/<%= @version.id %>'>Cancel</a>
          <a class="btn btn-default" href="/versions/<%= @version.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>

        </div> <!-- / panel body -->
      </div> <!-- / panel -->
    </div>  <!-- / col -->

    <div class='col col-md-1'></div>

    <div class='col col-md-5'>
      <div id='values_container'></div>
    </div>

  </div> <!-- / row -->

  <input name='version_data' id='version_data' style='display:none;'></input>

<%
end %>
