<h1>Version</h1>

<%=
form_for @version do |form|
%>

  <p>
    <%= form.label :Name %>
    <%= form.text_field :name %><br/>
  </p>

  <p>
    <%= form.label 'Output Folder' %>
    <%= form.text_field :output_folder_path %><br/>
  </p>

  <p>
    <%= form.label "Values" %>
    <%= form.text_field :values %><br/>
  </p>

  <p>
    <%= form.select :design_template_id, DesignTemplate.all.collect { |x| [ x.name, x.id ] }, { :include_blank => "Select a Template" } %>
  </p>

  <%= form.submit "Save Changes" %>
  <%= button_to "Delete", {:controller => :versions,
        :action => 'destroy', :id => @version.id }, :method => :delete %>

<%
end
%>
