<div class='row'>
  <div class='col col-md-1'></div>
  <div class='col col-md-10'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th><a onclick='toggle_name();'>Version Name</a>
            <span id='name_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_template();'>Template</a>
            <span id='template_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_created();'>Created</a>
            <span id='created_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_updated();'>Updated</a>
            <span id='updated_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_last_render_date();'>Last Render</a>
            <span id='last_render_date_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_tags();'>Tags?</a>
            <span id='tags_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_images();'>Images?</a>
            <span id='images_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', size: '14x14', class: 'arrow-spacer' ) %>
          </th>
        </tr>
      </thead>
      <tbody>
    <%
        i = 0
        @versions.each { |v| %>
          <tr>
            <td class='clickable' onclick='show_version( "<%= v[:id]%>" );' id='name<%= i.to_s %>'>
              <%= v[:name] %>
            </td>
            <td class='clickable' onclick='show_template( "<%= v[:template_id]%>" );' id='template<%= i.to_s %>'>
              <%= v[:template] %>
            </td>
            <td id='created<%= i.to_s %>'>
              <%= v[:created] %>
            </td>
            <td id='updated<%= i.to_s %>'>
              <%= v[:updated] %>
            </td>
            <td id='last_render_date<%= i.to_s %>'>
              <%= v[:last_render_date] %>
            </td>
            <td id='tags<%= i.to_s %>'>
              <%= bool_display_text( v[:tags] ) %>
            </td>
            <td id='images<%= i.to_s %>'>
              <%= bool_display_text( v[:images] ) %>
            </td>
          </tr>
    <%    i += 1
        } %>
      </tbody>
    </table>
  </div> <!-- / col -->

  <div class='col col-md-1'>
  </div>

</div> <!-- / row -->

<div style='display:none' id='versions'><%= @versions.to_json %></div>


<script>

  var NAME_FLIP = true;
  var TEMPLATE_FLIP = true;
  var TAGS_FLIP = true;
  var IMAGES_FLIP = true;
  var CREATED_FLIP = true;
  var UPDATED_FLIP = true;
  var LAST_RENDER_DATE_FLIP = true;



  function show_version( id )
  {
    window.location = '/versions/' + id;
  }


  function show_template( id )
  {
    window.location = '/design_templates/' + id;
  }


  function get_versions()
  {

    var versions_array = Cookies.get( 'ver' );


    alert( 'got versions_array: ' + JSON.stringify( versions_array ) );

    if( versions_array === undefined )
    {
      var versions_element = $('#versions');
      var versions_text = versions_element.text();
      versions_array = JSON.parse( versions_text );
    }

    return versions_array;
  }


  function put_versions( array )
  {
    //var versions_element = $('#versions');
    //versions_element.text( JSON.stringify( array ) );
    s = JSON.stringify( array );
    alert( 'setting s: ' + s );

    Cookies.set( 'ver', array );
  }

  function toggle_arrow( e )
  {
    $( '.menu-arrow' ).hide();
    $( '.arrow-spacer' ).show();  // show all of the arrow spacers
    e.show();
    e.toggleClass( 'glyphicon-menu-up' );
    e.toggleClass( 'glyphicon-menu-down' );
    e.next().hide();  // hide the arrow spacer immediately following the clicked element.
  }

  function toggle_name()
  {
    var versions = get_versions();
    NAME_FLIP = !NAME_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'name', NAME_FLIP );
    });

    put_versions( versions );
    toggle_arrow( $('#name_arrow') );
    drawPage();
  }


  function toggle_template()
  {
    var versions = get_versions();
    TEMPLATE_FLIP = !TEMPLATE_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'template', TEMPLATE_FLIP );
    });

    put_versions( versions );
    toggle_arrow( $('#template_arrow') );
    drawPage();
  }


  function toggle_created()
  {
    var versions = get_versions();
    CREATED_FLIP = !CREATED_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'created', CREATED_FLIP );
    });

    put_versions( versions );
    toggle_arrow( $('#created_arrow') );
    drawPage();
  }


  function toggle_updated()
  {
    var versions = get_versions();
    UPDATED_FLIP = !UPDATED_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'updated', UPDATED_FLIP );
    });

    put_versions( versions );
    toggle_arrow( $('#updated_arrow') );
    drawPage();
  }


  function toggle_last_render_date()
  {
    var versions = get_versions();
    LAST_RENDER_DATE_FLIP = !LAST_RENDER_DATE_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'last_render_date', LAST_RENDER_DATE_FLIP );
    });

    put_versions( versions );
    toggle_arrow( $('#last_render_date_arrow') );
    drawPage();
  }


  function toggle_tags()
  {
    var versions = get_versions();
    TAGS_FLIP = !TAGS_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'tags', TAGS_FLIP );
    });

    put_versions( versions );
    toggle_arrow( $('#tags_arrow') );
    drawPage();
  }


  function toggle_images()
  {
    var versions = get_versions();
    IMAGES_FLIP = !IMAGES_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'images', IMAGES_FLIP );
    });

    put_versions( versions );
    toggle_arrow( $('#images_arrow') );
    drawPage();
  }


  function fill_container( )
  {
    var versions = get_versions();
    var o, s, el;
    var d;
    var container_index = 0;

    for( var i = 0; i < versions.length; i++ )
    {
      o = versions[i];

      s = '#name' + container_index.toString();
      el = $(s);
      el.text( o.name );
      el.attr( 'onclick', 'show_version("' + o.id + '")' );

      s = '#template' + container_index.toString();
      el = $(s);
      el.text( o.template );
      el.attr( 'onclick', 'show_template("' + o.template_id + '")' );

      s = '#tags' + container_index.toString();
      el = $(s);
      el.text( o.tags );

      s = '#created' + container_index.toString();
      el = $(s);
      el.text( o.created );

      s = '#updated' + container_index.toString();
      el = $(s);
      el.text( o.updated );

      s = '#last_render_date' + container_index.toString();
      el = $(s);
      el.text( o.last_render_date );

      s = '#images' + container_index.toString();
      el = $(s);
      el.text( o.images );

      container_index++;
    }
  }


  function drawPage()
  {
    fill_container();
  }


  $(document).ready( function() {
    toggle_name();
  });

</script>
