

<div class='row'>

  <div class='col col-md-1'></div>
  <div class='col col-md-7'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><a onclick='toggle_name();'>Name</a></th>
          <th><a onclick='toggle_template();'>Template</a></th>
          <th><a onclick='toggle_tags();'>Tags?</a></th>
          <th><a onclick='toggle_images();'>Images?</a></th>
        </tr>
      </thead>
      <tbody>
    <%
        i = 0
        @versions.each { |v| %>
          <tr>
            <td onclick='show_version( "<%= v[:id]%>" );' id='name<%= i.to_s %>'>
              <%= v[:name] %>
            </td>
            <td onclick='show_template( "<%= v[:template_id]%>" );' id='template<%= i.to_s %>'>
              <%= v[:template] %>
            </td>
            <td id='tags<%= i.to_s %>'>
              <%= v[:tags] %>
            </td>
            <td id='images<%= i.to_s %>'>
              <%= v[:images] %>
            </td>
          </tr>
    <%    i += 1
        } %>
      </tbody>
    </table>
  </div> <!-- / col -->

  <div class='col col-md-3'>
  </div>

  <div class='col col-md-1'>
  </div>

</div> <!-- / row -->





<div style='display:none' id='versions'><%= @versions.to_json %></div>


<script>

  var NAME_FLIP = true;
  var TEMPLATE_FLIP = true;
  var TAGS_FLIP = true;
  var IMAGES_FLIP = true;


  function show_version( id )
  {
    window.location = '/versions/' + id;
  }


  function show_template( id )
  {
    window.location = '/design_templates/' + id;
  }


  function get_versions()
  {
    var versions_element = $('#versions');
    var versions_text = versions_element.text();
    var versions_array = JSON.parse( versions_text );
    return versions_array;
  }


  function put_versions( array )
  {
    var versions_element = $('#versions');
    versions_element.text( JSON.stringify( array ) );
  }


  function my_sort( obj1, obj2, key, flip )
  {
    var o1, o2;

    if( flip )
    {
      o1 = obj1;
      o2 = obj2;
    }
    else
    {
      o1 = obj2;
      o2 = obj1;
    }

    var s1 = '';
    if( o1[key] != null ) {
      s1 = o1[key].toLowerCase(); }

    var s2 = '';
    if( o2[key] != null ) {
      s2 = o2[key].toLowerCase(); }

    var comp;
    if( s1 < s2 )
    {
      comp = -1;
    }
    else if( s1 > s2 )
    {
      comp = 1;
    }
    else
    {
      // the names are equal
      comp = 0;
    }

    return comp;
  }


  function toggle_name()
  {
    var versions = get_versions();
    NAME_FLIP = !NAME_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'name', NAME_FLIP )
    });

    put_versions( versions );
    drawPage();
  }


  function toggle_template()
  {
    var versions = get_versions();
    TEMPLATE_FLIP = !TEMPLATE_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'template', TEMPLATE_FLIP )
    });

    put_versions( versions );
    drawPage();
  }



  function toggle_tags()
  {
    var versions = get_versions();
    TAGS_FLIP = !TAGS_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'tags', TAGS_FLIP )
    });

    put_versions( versions );
    drawPage();
  }



  function toggle_images()
  {
    var versions = get_versions();
    IMAGES_FLIP = !IMAGES_FLIP;

    versions.sort( function( obj1, obj2 )
    {
      return my_sort( obj1, obj2, 'images', IMAGES_FLIP )
    });

    put_versions( versions );
    drawPage();
  }





  function fill_container( )
  {

    var versions = get_versions();
    var o, s, el;
    var d;

    var container_index = 0;


    for( var i = 0; i < versions.length; i++ )
    {
      o = versions[i];

      s = '#name' + container_index.toString();
      el = $(s);
      el.text( o['name'] );
      el.attr( 'onclick', 'show_version("' + o['id'] + '")' );

      s = '#template' + container_index.toString();
      el = $(s);
      el.text( o['template'] );
      el.attr( 'onclick', 'show_template("' + o['template_id'] + '")' );

      s = '#tags' + container_index.toString();
      el = $(s);
      el.text( o['tags'] );

      s = '#images' + container_index.toString();
      el = $(s);
      el.text( o['images'] );

      container_index++;
    }
  }


  function drawPage()
  {
    fill_container();
  }


  $(document).ready( function() {

    // clicks data are probably what the user is here for
    toggle_name();

  });



</script>
