<h1>Versions#index</h1>


<%
@versions.each { |v|
%>
  <%= link_to "Click", v %>
  <h3>Folder path: <%= v.output_folder_path %></h3>
  <h3>ID: <%= v.id %></h3>
  <h3>Template ID: <%= v.design_template_id %></h3>
  <h3>Values: <%= v.values %></h3>
  <hr/>
<%
}
%>

<%= link_to "New Version", new_version_path %>
