<div class='row'>
  <div class='col col-md-1'></div>
  <div class='col col-md-10'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th><a onclick='toggle_name();'>Version Name</a>
            <span id='name_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_template();'>Template</a>
            <span id='template_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_created();'>Created</a>
            <span id='created_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_updated();'>Updated</a>
            <span id='updated_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_last_render_date();'>Last Render</a>
            <span id='last_render_date_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', class: 'arrow-spacer' ) %>
          </th>
          <th><a onclick='toggle_owner();'>Owner</a>
            <span id='owner_arrow' class='glyphicon glyphicon-menu-up menu-arrow' aria-hidden='true'></span>
            <%= image_tag( 'blank.png', class: 'arrow-spacer' ) %>
          </th>

        </tr>
      </thead>
      <tbody>
    <%
        i = 0
        @versions.each { |v| %>
          <tr>
            <td class='clickable' onclick='show_version( "<%= v[:id]%>" );' id='name<%= i.to_s %>'>
              <%= v[:name] %>
            </td>
            <td class='clickable' onclick='show_template( "<%= v[:template_id]%>" );' id='template<%= i.to_s %>'>
              <%= v[:template] %>
            </td>
            <td id='created<%= i.to_s %>'>
              <%= v[:created] %>
            </td>
            <td id='updated<%= i.to_s %>'>
              <%= v[:updated] %>
            </td>
            <td id='last_render_date<%= i.to_s %>'>
              <%= v[:last_render_date] %>
            </td>
            <td id='owner<%= i.to_s %>'>
              <%= v[:owner] %>
            </td>
          </tr>
    <%    i += 1
        } %>
      </tbody>
    </table>
  </div> <!-- / col -->

  <div class='col col-md-1'>
  </div>

</div> <!-- / row -->

<div style='display:none' id='<%= CACHE_KEY_VERSIONS.to_s %>'><%= @versions.to_json %></div>


<script>

  var CACHE_NAME = '<%= CACHE_KEY_VERSIONS.to_s %>';

  function show_version( id )
  {
    window.location = '/versions/' + id;
  }

  function show_template( id )
  {
    window.location = '/design_templates/' + id;
  }

  function get_cached_versions() {
    return get_cached_json( CACHE_NAME ); }

  function cache_versions( versions_array ) {
    cache_json( versions_array, CACHE_NAME ); }

  function cache_arrow( e ) {
    cache_arrow_by_name( e, CACHE_NAME ); }




  function toggle_owner() {
    toggle_header_item( 'owner_arrow', get_cached_versions, cache_versions, 'owner' ); }

  function toggle_name() {
    toggle_header_item( 'name_arrow', get_cached_versions, cache_versions, 'name' ); }

  function toggle_created() {
    toggle_header_item( 'created_arrow', get_cached_versions, cache_versions, 'created' ); }

  function toggle_updated() {
    toggle_header_item( 'updated_arrow', get_cached_versions, cache_versions, 'updated' ); }

  function toggle_template() {
    toggle_header_item( 'template_arrow', get_cached_versions, cache_versions, 'template' ); }

  function toggle_last_render_date() {
    toggle_header_item( 'last_render_date_arrow', get_cached_versions, cache_versions, 'last_render_date' ); }

  function toggle_tags() {
    toggle_header_item( 'tags_arrow', get_cached_versions, cache_versions, 'tags' ); }

  function toggle_images() {
  toggle_header_item( 'images_arrow', get_cached_versions, cache_versions, 'images' ); }


  function fill_container( )
  {
    update_arrows( CACHE_NAME );
    var versions = get_cached_versions();
    var o, s, el;
    var d;
    var container_index = 0;

    for( var i = 0; i < versions.length; i++ )
    {
      o = versions[i];

      s = '#name' + container_index.toString();
      el = $(s);
      el.text( o.name );
      el.attr( 'onclick', 'show_version("' + o.id + '")' );

      s = '#template' + container_index.toString();
      el = $(s);
      el.text( o.template );
      el.attr( 'onclick', 'show_template("' + o.template_id + '")' );

      s = '#created' + container_index.toString();
      el = $(s);
      el.text( o.created );

      s = '#updated' + container_index.toString();
      el = $(s);
      el.text( o.updated );

      s = '#last_render_date' + container_index.toString();
      el = $(s);
      el.text( o.last_render_date );

      s = '#owner' + container_index.toString();
      el = $(s);
      el.text( o.owner );

      container_index++;
    }
  }


  $(document).ready( function() {
    fill_container();
  });

</script>
