
<script>


function create_version()
{
    var oReturn = build();

    $('#version_data').attr( 'value', JSON.stringify( oReturn ) );

    var form = $('#version_form');

    alert( "about to submit form" );
    form.submit();
}

function validate()
{
  alert( 'validate()' );
  return false;
}

function changeTemplate( id )
{

  var o;


  if( id == null )
  {
    o = $('#version_design_template_id');
    id = o.val();
  }

  var uri = "<%= get_local_host %>/partials/version_settings/" + id;

  $.get( uri, function(data, status)
    {
        $('#values_container').html( data );
    } );
}

</script>




<h1>New Version</h1>

<form action='create' id='version_form' onsubmit='return validate();'>

  <div class='container' style='width: 100%;'>

    <div style='flex:1'>


      <div class="form-group">
        <label for="version[name]">Name</label>
        <input type='text' name='version[name]'></input>
      </div>

      <div class="form-group">
        <label for="version[output_folder_path]">Output Folder</label>
        <%= @root_folder + "/" %> <input type='text' name='version[output_folder_path]'></input>
      </div>

      <div class="form-group">
        <label for="runai">Run Illustrator?</label>
        <input type='checkbox' name='runai' id='runai'></input>
      </div>


        <div class="form-group">
          <label for="version_design_template_id">Template:</label>
          <select class="form-control" style='width: 200px;' name='version[design_template_id]' id='version_design_template_id' onchange='changeTemplate();'>
            <option value="" disabled selected>Select a Template</option>

<%          @design_templates.each { |t|

              if ( t.id == @design_template_id.to_i ) then
                selected = true
%>
                <script> changeTemplate( <%= t.id.to_s %> ); </script>
<%
              else
                selected = false
              end
%>
              <option <%= if selected then 'selected="selected"' end %> value='<%= t.id.to_s %>'><%= t.name %></option>
<%          }
%>
          </select>
        </div>

        <a class='btn btn-default' href='<%= get_local_host %>/versions'>Cancel</a>
        <button class='btn btn-default' id='create' onclick='create_version();'>Create</button>


    </div>

    <div id='values_container' style='flex:1'></div>

  </div>

  <input name='version_data' id='version_data' style='display:none;'></input>


</form>
