<h1>New Version</h1>


<%=
form_for @version do |form|
%>

  <p>
    <%= form.label :name %><br/>
    <%= form.text_field :name %><br/>
  </p>

  <p>
    <%= form.label :output_folder_path %><br/>
    <%= form.text_field :output_folder_path %><br/>
  </p>


    <p>
      <select name='version[design_template_id]' id='version_design_template_id' onchange='changeTemplate();'>
  <%=   @design_templates.each { |t| %>
          <option value='<%= t.id.to_s %>'><%= t.name %></option>
  <%    } %>
      </select>
    </p>

  <%= form.submit "Create Version" %>

<%
end
%>

<script>

function changeTemplate()
{
  var template_id = $('#version_design_template_id').val();

  $.get("http://localhost:3000/partials/values/", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
    });
}

</script>
