
<!-- New Version -->

<script>

  $(document).ready(function(){
    getTemplateHTML( <%= @design_template.id %> );
  });


  //  A version is created and saved when this page is loaded.  If the user cancels
  //  we need to clean up.
  function cancel()
  {
    uri = "<%= get_local_host %>/versions/<%= @version.id %>/cancel";
    $.get( uri, function(data, status)
      {
        $('#values_container').html( data );
      } );
  }

  function getTemplateHTML( templateId )
  {
    var o;
    var uri;
    uri = "<%= get_local_host %>/partials/version_settings/" + templateId;
    $.get( uri, function(data, status)
      {
        $('#values_container').html( data );
      } );
  }

  function create_version( )
  {

    if( validate() )
    {
      // this funtion is defined in the version_settings.html.erb controlled by partials controller
      var oReturn = build();
      $('#version_data').attr( 'value', JSON.stringify( oReturn ) );

      var form = $('#version_form');
      form.submit();
    }
  }

  function validate()
  {
    return validate_version_settings();
  }


</script>


<%=
form_for @version, html: { multipart: true, id: 'version_form'  } do |form|
%>

<div class='row'>
  <div class='col col-md-1'></div>
  <div class='col col-md-4'>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Quick New Version</h3>
      </div>
      <div class="panel-body">

        <input type='text' style='display:none;' class="form-control" id='version_name' value='<%= @version.name %>' name='version[name]'></input>
        <input type='text' style='display:none;' class="form-control" id='version_output_folder_path' value='<%= @version.output_folder_path %>' name='version[output_folder_path]'></input>
        <input type='checkbox' style='display:none;' checked name='runai' id='runai' class='checkbox-input' value='true'></input>

        <a class='btn btn-default' onclick='cancel();' href='<%= get_local_host %>/design_templates/'>Cancel</a>
        <a class='btn btn-default' id='create' onclick='create_version(); return false;'>Create</a>

      </div> <!-- / panel body -->
    </div> <!-- / panel -->
  </div> <!-- / col -->

  <div class='col-md-1'></div>

  <div class='col-md-5'>
    <div id='values_container'></div>
    <input name='version_data' id='version_data' style='display:none;'></input>
  </div>

</div> <!-- / row -->

<%
end # form %>
