
<!-- This page, and versions/quick_new.html.erb, both play the same role as
  versions/new.html.erb.  They both offer a pared down UI, obtaining only
  that info a customer will need to provide to generate the final AI file.  other
  information such as the name of the version and the output folder is filled in
  by the controller.  The difference between the file in partials/ and the
  file in the versions/ view folder is that they use different layouts.  The
  views/ file uses the application layout for people running the rails app,
  the partials file uses the partials layout for customers, as
  this html is ajaxed into the main web site. -->

<script>

  $(document).ready( function() {
    getTemplateHTML( <%= @design_template.id %> );
  } );


  //  A version is created and saved when this page is loaded.  If the user cancels
  //  we need to clean up.
  function cancel()
  {
    uri = '<%= local_host %>/versions/<%= @version.id %>/cancel';
    $.get( uri, function(data, status)
      {
        $('#values_container').html( data );
      } );
  }

  function getTemplateHTML( templateId )
  {
    var o;
    var uri;
    uri = '<%= local_host %>/partials/version_settings?template_id=' + templateId;
    $.get( uri, function(data, status)
      {
        $('#values_container').html( data );
      } );
  }

  function create_version( )
  {
    if( validate() )
    {
      clear_versions_cache();
      var form = $('#version_form');
      form.submit();
    }
  }

  function validate()
  {
    return validate_version_settings();
  }


</script>


<%=
form_for @version, html: { multipart: true, id: 'version_form'  } do |form|
%>

  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Quick New Version of <%= @version.design_template.name %></h3>
        </div>
        <div class='panel-body'>

          <input type='text' style='display:none;' class='form-control'
            id='version_name' value='<%= @version.name %>' name='version[name]'>
          </input>
          <input type='text' style='display:none;' class='form-control'
            id='version_output_folder_path' value='<%= @version.output_folder_path %>'
            name='version[output_folder_path]'>
          </input>
          <input type='checkbox' style='display:none;' checked name='runai'
            id='runai' class='checkbox-input' value='true'></input>
          <input type='checkbox' style='display:none;' checked name='render'
            id='render' class='checkbox-input' value='true'></input>

          <a class='btn btn-default' onclick='cancel();' href='<%= local_host %>/design_templates/'>Cancel</a>
          <a class='btn btn-default' id='create' onclick='create_version(); return false;'>Create</a>

        </div> <!-- / panel body -->
      </div> <!-- / panel -->

<%    index = 0
      @version.design_template.managed_assets.each { |asset|
        if index % 2 == 0
          alt_style = 'float:right;'
        else
          alt_style = 'float:left;'
        end
        index += 1 %>
        <div style='<%= alt_style.to_s %> height:100px; width:100px; margin-top:10px; display:inline-block; position:relative;'>
<%        if !asset.image.original_filename.nil? %>
<%=         link_to( image_tag( asset.image, { width: '100%', height: '100%' } ), asset ) %>
<%        end %>
        </div>
        <div style='height:100px; width:250px; vertical-align:top; margin-left:10px; margin-top:10px; margin-right:10px; display:inline-block; position:relative;'>
          <p class='lead'>
<%=         asset.description.to_s %>
          </p>
        </div>
<%    } %>


    </div> <!-- / col -->

    <div class='col-md-1'></div>

    <div class='col-md-5'>
      <div id='values_container'></div>
    </div>

  </div> <!-- / row -->


  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>
    </div>
  </div> <!-- /row -->

<%
end # form %>
