<h1>Version</h1>

<div>Name: <%= @version.name %></div>
<div>Output folder: <%= @version.output_folder_path.to_s %></div>
<div>Values: <%= @version.values.to_s %></div>
<div>Template: <%= link_to @design_template.name, @design_template %></div>
<br><br>
<%= link_to "Edit this Version", edit_version_path %>
