<h1>Version</h1>

<div>Name: <%= @version.name %></div>
<div>Template: <%= link_to @design_template.name, @design_template %></div>
<div>Output folder: <%= @root_folder + "/" + @version.output_folder_path.to_s %></div>


<div>Version folder: <%= @version_folder.to_s %></div>
<div>Data File: <%= @data_file.to_s %></div>


<br><br>
<%= link_to "Edit this Version", edit_version_path %>
