<h1>Version</h1>

<div>Name: <%= @version.name %></div>
<div>Template: <%= link_to @design_template.name, @design_template %></div>
<div>Output folder: <%= @root_folder + "/" + @version.output_folder_path.to_s %></div>


<div>Version folder: <%= @version_folder.to_s %></div>
<div>Data File: <%= @data_file.to_s %></div>
<div>Values: <%= @version.values.to_s %></div>


<%
  if( @replacement_images ) then
    @replacement_images.each do |i|
%>
    <div>Image: <%= i.uploaded_file.to_s %></div>

<%
    end
  end
%>

<br><br>
<a class='btn btn-default' href='<%= edit_version_path %>'>Edit this Version</a>
<a class="btn btn-default" href="/versions/<%= @version.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
