
<form action='update' id='color_form'>

  <div class='row'>
    <div class='col col-md-1'></div>
    <div class='col col-md-4'>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Edit Color</h3>
        </div>
        <div class='panel-body'>

          <div class='form-group'>
            <input type='text' id='hex_code' name='color[hex_code]'
              class='form-control' <%= if @color.was_extracted then 'disabled' end %>
              data-control='hue' value='<%= @color.hex_code %>'>
          </div>
          <div class='spacer'></div>


          <div style='height:70px; margin-bottom:15px;'>
            <div style='width:47%; float:left; margin-right:15px; margin-bottom:15px;' class='input-group' id=''>
              <span class='input-group-addon' style='width:30px;' id='basic-addon1'>C</span>
              <input type='text' <%= if @color.was_extracted then 'disabled' end %> id='' aria-describedby='basic-addon1'
                class='form-control' value='<%= @color.cyan %>'>
            </div>
            <div style='width:47%; float:left;' class='input-group' id=''>
              <span class='input-group-addon' style='width:30px;' id='basic-addon2'>M</span>
              <input type='text' <%= if @color.was_extracted then 'disabled' end %> id='' aria-describedby='basic-addon2'
                class='form-control' value='<%= @color.magenta %>'>
            </div>
            <div style='width:47%; float:left; margin-right:15px;' class='input-group' id=''>
              <span class='input-group-addon' style='width:30px;' id='basic-addon3'>Y</span>
              <input type='text' <%= if @color.was_extracted then 'disabled' end %> id='' aria-describedby='basic-addon3'
                class='form-control' value='<%= @color.yellow %>'>
            </div>
            <div style='width:47%; float:left;' class='input-group' id=''>
              <span class='input-group-addon' style='width:30px;' id='basic-addon4'>K</span>
              <input type='text' <%= if @color.was_extracted then 'disabled' end %> id='' aria-describedby='basic-addon4'
                class='form-control' value='<%= @color.black %>'>
            </div>
          </div>






          <div class='alert alert-warning'>Customers may see this description!</div>
          <div class='input-group' style='margin-bottom:20px;'>
            <span class='input-group-addon' id='basic-addon1'>Description</span>
            <input type='text' class='form-control' id='color_description'
              name='color[description]' value='<%= @color.description %>'
              aria-describedby='basic-addon1' ></input>
          </div>
          <div class='spacer'></div>


          <input type='submit' value='Save' class='btn btn-default'></input>
          <a class='btn btn-default' href='/colors'>Cancel</a>
          <a class='btn btn-default' href='/colors/<%= @color.id %>'
            data-method='delete' rel='nofollow'>Delete</a>

        </div> <!-- / panel body -->
      </div> <!-- / panel -->
    </div> <!-- / col -->
  </div> <!-- / row -->

</form>


<script>

  $(document).ready(function(){

    $('#hex_code').minicolors( {
        theme: 'bootstrap'
    });

  });

</script>
