
<div class='row'>
  <div class='col col-md-1'></div>
  <div class='col col-md-4'>

    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Color</h3>
      </div>
      <div class='panel-body'>

        <div class='form-group' id='new_color_picker_container'>
          <input type='text' disabled id='hex_code' name='color[hex_code]'
            class='form-control' data-control='hue' value='<%= @color.hex_code %>'>
        </div>
        <div class='spacer'></div>

        <div style='width:45%;' class='input-group' id=''>
          <span class='input-group-addon' id='basic-addon1'>C</span>
          <input type='text' disabled id='' aria-describedby='basic-addon1'
            class='form-control' value='<%= @color.cyan %>'>
        </div>
        <div style='width:45%;' class='input-group' id=''>
          <span class='input-group-addon' id='basic-addon2'>M</span>
          <input type='text' disabled id='' aria-describedby='basic-addon2'
            class='form-control' value='<%= @color.magenta %>'>
        </div>
        <div style='width:45%;' class='input-group' id=''>
          <span class='input-group-addon' id='basic-addon3'>Y</span>
          <input type='text' disabled id='' aria-describedby='basic-addon3'
            class='form-control' value='<%= @color.yellow %>'>
        </div>
        <div style='width:45%;' class='input-group' id=''>
          <span class='input-group-addon' id='basic-addon4'>K</span>
          <input type='text' disabled id='' aria-describedby='basic-addon4'
            class='form-control' value='<%= @color.black %>'>
        </div>

        <div class='input-group' style='margin-bottom:20px;'>
          <span class='input-group-addon' id='basic-addon5'>Description</span>
          <input type='text' disabled class='form-control' id='color_description'
            name='color[description]' value='<%= @color.description %>'
            aria-describedby='basic-addon5' ></input>
        </div>
        <div class='spacer'></div>

        <a class='btn btn-default' href='<%= edit_color_path %>'>Edit this Color</a>
        <a class='btn btn-default' href='/colors/<%= @color.id %>'
          data-method='delete' rel='nofollow'>Delete</a>


      </div> <!-- / panel body -->
    </div> <!-- / panel -->
  </div> <!-- / col -->
</div> <!-- / row -->


<script>

  $(document).ready(function(){

    $('#hex_code').minicolors( {
        theme: 'bootstrap'
    });

  });

</script>
