<!DOCTYPE html>
<html>
<head>
  <title>Customization</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <%= javascript_include_tag 'bootstrap.js', 'data-turbolinks-track' => true %>


  <%= javascript_include_tag 'bootstrap-colorpicker.js', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap-colorpicker.css', media: 'all', 'data-turbolinks-track' => true %>


</head>
<body>




  <div id='loading-indicator' class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
  </div>






<div class='container-fluid'>

<% flash.each do |key, value| %>
<p><%= value %></p>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class='<%= if params[:controller] == 'design_templates' then 'active' end %>' ><a href="<%= design_templates_path %>">Templates</a></li>
  <li role="presentation" class='<%= if params[:controller] == 'versions' then 'active' end %>' ><a href="<%= versions_path %>">Versions</a></li>




  <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        New <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to "Template", new_design_template_path %></li>
        <li><%= link_to "Version", new_version_path %></li>
      </ul>

    </li>

</ul>

<div style='margin-top:20px;'>
  <%= yield %>
</div>

</div>
</body>
</html>


<script>

  $(document).ready(function()
  {

    $(function() {
      $('#loading-indicator').hide();  // hide it initially.
      $(document)
        .ajaxStart(function() {
          $('#loading-indicator').show(); // show on any Ajax event.
        })
        .ajaxStop(function() {
          $('#loading-indicator').hide(); // hide it when it is done.
        });
    });

  });

</script>
