<!DOCTYPE html>
<html>
  <head>
    <title>Customization</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'bootstrap.js', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bootstrap-responsive.css', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'jquery.minicolors.js', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'jquery.minicolors.css', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'select2.js', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'select2.css', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'spritespin.js', 'data-turbolinks-track' => true %>


  </head>
  <body>

    <div class='container-fluid'>

      <ul class="nav nav-tabs">
        <li role="presentation" class='<%= if params[:controller] == 'design_templates' then 'active' end %>' ><a href="<%= design_templates_path %>">Templates</a></li>
        <li role="presentation" class='<%= if params[:controller] == 'versions' then 'active' end %>' ><a href="<%= versions_path %>">Versions</a></li>
        <li role="presentation" class='<%= if params[:controller] == 'colors' then 'active' end %>' ><a href="<%= colors_path %>">Colors</a></li>
        <li role="presentation" class='<%= if params[:controller] == 'palettes' then 'active' end %>' ><a href="<%= palettes_path %>">Palettes</a></li>
        <li role="presentation" class='<%= if params[:controller] == 'home' then 'active' end %>' ><a href="/tools">Tools</a></li>

        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            New <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Template", new_design_template_path %></li>
            <li><%= link_to "Version", new_version_path %></li>
            <li><%= link_to "Color", new_color_path %></li>
            <li><%= link_to "Palette", new_palette_path %></li>
          </ul>
        </li>

      </ul>

      <div style='margin-top:20px;'>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
